.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfafb;
  border: 1px solid black;
  border-radius: 5px;
}

.pinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.image {
  width: 100px;
  border-radius: 50%;
  margin: 10px 0;
}

.stats {
  display: flex;
  align-items: center;
  background-color: #d3d3d3;
  border-top: 1px solid #818081;
  width: 100%;
}

.statsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  flex: 1;
  border-right: 1px solid #818081;
}

.statsItem:last-child {
  border-right: none;
}
